body 
    background: #EEEEEE
    position: absolute
    margin: 0
    padding: 0
    width: 100%
    display: flex
    justify-content: center

a 
    text-decoration: none
    
// ------------- // Main Button behaviour 
[class *= navBTN] 
    padding: 20px 0px !important
    width: 200px !important
    background: #6100ED !important
    font-size: 16px !important
    left: calc(50% - 100px)
    
    i
        transition: all .2s
        font-size: 20px !important
        position: relative

    &:active
        transform: scale(.95,.95)

$Hleft: 12px
// ------ // prov Next BTN  
.navBTN_next 
    i
        left: $Hleft
    &:hover i
        left: $Hleft*2

// ------ // prov BTN
.navBTN_prov
    i
        left: -$Hleft
    &:hover i
        left: -$Hleft*2


// ------------------------- // Table content // ------------------------- //
=reposition($left,$top,$type)
    position: relative

    @if $type == "Both"
        left: 100px + $left
        top: 35px + $top
        margin: $left+px $top+px
    @else if $type == "Pos"
        left: 100px + $left
        top: 35px + $top
    @else
        margin: $left+px $top+px

table
    +reposition(30,0,"--")

  
.TableContainer
    overflow: hidden
    position: relative
    width: 1100px !important
    padding: 25px 10px
    top: 40px

.clear
    color: #6100ED !important
    border-color: rgba(0, 0, 0, 0.171) !important
    +reposition(-50,0,"Pos")

.filter
    // width: 100px
    +reposition(110,-45,"Pos")

    button
        position: absolute
        box-shadow: none !important

.FilterOptions
    position: absolute !important
    left: 50px !important
    margin: 0px !important
    // +reposition(40,285,"--")

    
.searchCont
    width: 250px
    position: relative
    left: calc(100% - 300px)
    top: -20px
    padding: 5px 5px
    
    input
        position: relative
        min-width: 230px
        width: 100%
        background: rgba(238, 238, 238, 0.4)
        padding: 10px 10px
        // top: -3px

        &:focus
            background: rgba(238, 238, 238, 0.8)

.paper
    position: relative
    +reposition(-100,10,"Pos")


// ------------------------- // Footer content // ------------------------- //
=pageElement($left,$top)
    position: relative
    margin: -$top 0px -$left 0px

.Pagination
    font-size: 12px
    position: relative
    left: calc(100% - 380px)
    *span
        margin-left: 20px

    button
        outline: none
        border: none
        box-shadow: none
        width: 40px !important
        height: 40px !important
        background: none
        opacity: .7

        &:active
            box-shadow: none

.dropdown
    display: inline

.pageSize
    margin: 0px 30px


.errorPage
    text-align: center
    font-size: 2pc
    h1
        font-size: 5pc
